#title-list {
    font-size: 1.5rem;
    list-style-type:none;
    color: black;
    display: flex;
    flex-direction: column; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding-top: 3rem;
    margin:0;
}


#title-list-reverse {
    color:rgb(246,190,0, 0.7);
    font-size: 1.5rem;
    list-style-type:none;
    display: flex;
    flex-direction: column; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding-top: 3rem;
    margin:0;
}

#background-angebote{
    background-color: rgb(246,190,0, 0.7);
    text-align: center;
}

#background-angebote-reverse{
    background-color: black;
}