#title-list,
#title-list-reverse {
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding-top: 5rem;
    margin: 0;
    border-color: white;
}

#background-angebote {
    background-color: rgb(246, 190, 0, 0.7);
    text-align: center;
    border-radius: 20px;
}

#background-angebote-reverse {
    background-color: black;
    border-radius: 20px;
}

.custom-link {
    color: black; /* Set the desired color */
    text-decoration: none; /* Remove underlining */
    border-color: rgba(255, 255, 255, 0.5); /* Add transparency to border color */
}

#title-list-reverse .custom-link {
    color: rgba(246, 190, 0, 0.7); /* Set the desired color for reversed list */
    border-color: rgba(255, 255, 255, 0.5); /* Add transparency to border color */
}

.angebote-button-reverse,
.angebote-button {
    background-color: transparent;
    border-radius: 5px;
    padding: 3%; /* Top, right, bottom, left */
    margin: 2%;
    position: relative; /* Add relative positioning */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Add transparency to border color */
}

.angebote-button-reverse::after,
.angebote-button::after {
    content: '\2192'; /* Unicode arrow right character */
    margin-left: 0.5rem; /* Adjust the spacing between text and icon */
    display: inline-block;
    vertical-align: middle; /* Center the icon vertically within the button */
    font-size: 1.2rem; /* Optionally, you can increase the font size of the arrow icon */
}

.angebote-button:hover,
.angebote-button-reverse:hover {
    background-color: rgb(246, 190, 0, 0.7); /* Change background color on hover */
    color: white; /* Change text color on hover */
    cursor: url('../images/Pfoten/paw_white.png') 12 12, auto;
    border-color: white; /* Set the border color on hover */
}

#title-list-reverse .angebote-button-reverse {
    color: white !important;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3%;
    margin: 2%;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Add transparency to border color */
}

#title-list-reverse .angebote-button-reverse:hover {
    background-color: rgba(246, 190, 0); /* Change background color on hover to yellow */
    color: white; /* Change text color on hover to white */
    border: 1px solid white; /* Set a 1px white border on hover */
}

#title-list-reverse .angebote-button {
    color: rgba(246, 190, 0, 0.7) !important; /* Add !important to override other styles */
}

#title-list-reverse .angebote-button:hover {
    color: white !important; /* Add !important to override other styles */
}

#angebote-img {
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

#background-angebote,
#background-angebote-reverse {
    flex-grow: 1;
}
