/* AngeboteCards.css */
  .card:nth-child(odd) {
    background-color: black;
    color: white;
  }
  
  .card:nth-child(even) {
    background-color:  rgb(246,190,0, 0.7);;
    color: black;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: black; /* default button color for odd cards */
    border: none;
  }
  
  .card:nth-child(even) .btn-primary {
    background-color: yellow; /* button color for even cards */
  }
  
  .btn-primary:hover {
    background-color: #ffcc00; /* lighter shade of yellow on hover */
  }
  