/* ContactForm.css */

.background-with-overlay {
  background-color: black; /* Set the entire background to black */
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Enable flexbox layout */
  justify-content: flex-start; /* Align the form to the left */
  align-items: center; /* Center the form vertically */
  padding: 20px; /* Add padding to ensure form doesn’t touch the edges */
  box-sizing: border-box; /* Ensure padding is included in height/width calculations */
}

#kontaktformular {
  color: black;
  height: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 3px;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 600px; /* Set a fixed width for the form */
  box-sizing: border-box; /* Ensure padding is included in height/width calculations */
  height: 80vh;
  margin-bottom: 5%;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 3px;
  color: #333;
  width: 80%;
  font-size: 12px;
  justify-content: left; 
  align-items: left;
  margin-top: 2%;
}

.form-input,
.form-textarea {
  width: 80%;
  padding: 5px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding is included in height/width calculations */
}

.form-input:focus,
.form-textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-textarea {
  resize: vertical;
  height: 100px;
}

.form-submit {
  background-color: rgb(246, 190, 0, 0.7);
  color: white;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: rgb(246, 190, 0);
}
