.accordion {
  --bs-accordion-btn-bg: rgb(246,190,0,0.3);
  --bs-accordion-color: black;
  --bs-accordion-active-bg:  rgb(246,190,0) ;
  --bs-accordion-active-color: black;
  --bs-accordion-bg: rgb(246,190,0,0.7);
  --bs-accordion-btn-focus-box-shadow:none;
}

#FAQ {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 4rem;
  }

  .img-col{
    display:flex;
    justify-content: center;
    align-items: center;
  }
