.accordion {
  --bs-accordion-btn-bg: rgb(246,190,0,0.3);
  --bs-accordion-color: black;
  --bs-accordion-active-bg:  rgb(246,190,0) ;
  --bs-accordion-active-color: black;
  --bs-accordion-bg: rgb(246,190,0,0.7);
  --bs-accordion-btn-focus-box-shadow:none;
}

#FAQ {
  margin-top: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 8rem;
  }
