/* styles.css */
.footer {
  display: flex;
  background-color: black;
  padding: 10px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.footer-column {
  flex: 1;
  margin: 0 10px; /* Adjust margin as needed for spacing between columns */
}

.footer-text {
  color: white; /* Set text color to white */
  margin: 20px; /* Remove default margin to avoid spacing issues */
  text-decoration: none;
}

.social-icons {
  display: flex; /* Use flexbox for the icons */
  align-items: center; /* Align icons vertically in the center */
  justify-content:center;
}

.social-icon {
  color: white; /* Set icon color to white */
  font-size: 24px; /* Adjust icon size as needed */
  margin-right: 80px; /* Adjust margin as needed for spacing between icons */
}
