/* HalfCirclePic.css */
.half-circle-container {
  width: 22rem; /* Adjust the width to your preference */
  height: 22rem; /* Adjust the height to your preference */
  border-radius: 0 50% 50% 0; /* This creates a half-circle shape */
  overflow: hidden; /* Ensure the image is clipped to the half-circle shape */
  border-color: black;
}

.half-circle-image {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  object-position: center; /* Center the image within the container */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally */
}

.half-circle-container.reverse-half-circle {
  transform: scaleX(-1); /* Horizontal mirroring for reverse class */
}

