.image-block-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 20%;
    margin:0%;
  }

  .intro-text-block {
    padding: 5rem;
    margin: 0;






