.image-block-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    padding: 2rem;
    margin:0;
  }

  .intro-text-block {
    padding: 5rem;
  }

  .Intro1 {
    margin-top: 40px;
    margin-right: 20px;
  }



