/* Navbar.css */
nav {
    background-color: black;
    padding: 10px; /* Add padding for better visual appearance */
    display: flex; /* Use flexbox to align items */
    justify-content: flex-end; /* Align items along the main axis with space between them */
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
    
  }
  
 nav ul {
    list-style-type: none; /* Remove list styling */
    padding: 0.5rem;
    margin-right: 12rem;
    display: flex; 
    margin-bottom: 0;
    }
  
  nav ul li {
    margin-right: 5rem; /* Add margin between list items */
    }
  
 nav ul li a {
    text-decoration: none; /* Remove underline */
    color: white; /* Set link color to white */
    font-family: 'Anton', sans-serif;
    font-size: 1.3rem;
  }
  
  