.carousel-inner .carousel-item .carousel-caption {
    background-color:rgb(246,190,0, 0.7);
  
}

.carousel-inner .carousel-item .carousel-caption h3, p {
    color: black;
    text-align: center;
}

/* Change the color of the carousel arrows */
.carousel-control-prev,
.carousel-control-next {
  color: yellow !important; /* Use !important to override Bootstrap styles */
}

/* Change the background color of the carousel indicators */
.carousel-indicators li {
  background-color: yellow !important; /* Use !important to override Bootstrap styles */
}