.fullscreen-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/images/HeaderImg.jpeg') center/cover no-repeat; 
    color: #fff;
    margin: 0;
  }
  
  h1 {
    font-size: 2rem;
  }
  